<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<style>
  button {
    cursor: pointer;
  }
  section {
    margin-bottom: 40px;
  }
  hr {
    margin: 0;
    width: 100%; 
    border: 2px dashed black;
  }
</style>
<script>
  function showAlert(message) {
    if (message) {
      alert(message);
    }
  }
</script>
<body onload="showAlert('{{alert_message}}')" style="display: flex; justify-content: center; align-items: center; flex-direction: column">
  <script>
    function goToLogin() {
      const loginStr = "{{url_for('login_user')}}";
      window.location.href = loginStr;
    }
  </script>
  <h1 style="text-align: center; width: 100%">Personal Finance Tracker</h1>
  <main style="display: flex; justify-content: center; align-items: center; flex-direction: column; width: 80vw">
    <button onclick="window.location.href='/users'">
      Users Management
    </button><br>
    <hr><br>
    <!-- todo: show these just when the user is logged in -->
    <!-- Transaction Service -->
    <button onclick="window.location.href='/transactions'">
      Transaction Service
    </button>
    <br><hr><br>
    <!-- todo: show these just when the user is logged in -->
    <!-- Category Service -->
    <button onclick="window.location.href='/category'">
      Category Service
    </button>
    <br><hr><br>
    <!-- Report Generation Service -->
    <h4>
      Report Generation Service
    </h4>
    <section style="display: flex; align-items: center; justify-content: center; flex-direction: column">
      <form method="post" action="reports">
        <label for="start_date">Start Date</label>
        <input type="date" name="start_date" id="start_date" required>
        <br><br>
        <label for="end_date">End Date</label>
        <input type="date" name="end_date" id="end_date" required>
        <br><br>
        <label for="user_id">User ID</label>
        <input type="text" name="user_id" id="user_id" style="width: 200px" required>
        <br><br>
        <label for="report_format">Report Format</label>
        <select name="report_format" id="report_format">
          <option value="pdf" selected>PDF</option>
          <option value="csv">CSV</option>
          <option value="excel">Excel</option>
        </select><br><br>
        <button type="submit">
          Generate a report
        </button>
      </form>
    </section>
    <hr><br>

  </main>
</body>
</html>